<section *ngIf="!registerMode">
  <h1>Find your match</h1>
  <p>Come on in to view your matches...</p>

  <button mat-raised-button color="accent">Register</button>
  <button mat-raised-button color="primary">Learn More</button>
</section>
<section *ngIf="registerMode">
  <p>Register form goes here...</p>
  <!--<form fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        [formGroup]="loginForm"
        (ngSubmit)="login()">
    <mat-form-field>
      <input type="text"
             matInput
             placeholder="username"
             formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <input type="password"
             matInput
             placeholder="Your password"
             formControlName="password">
      <mat-hint *ngIf="!loginForm.valid">Please enter your password.</mat-hint>
      <mat-error>Missing password.</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>-->
</section>
